# Node modules
node_modules/

# Lock files (optional)
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Build output
dist/
build/

# Coverage directory (if testing tools used)
coverage/

# OS-specific files
.DS_Store
Thumbs.db

/generated/prisma
# Editor directories and files
.vscode/
.idea/

# Cache
.cache/
