name: CD - Deploy to AWS EC2

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            # 1. Checkout code
            - name: Checkout repository
              uses: actions/checkout@v4

            # 2. Connect to EC2 and deploy
            - name: Deploy to EC2
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_KEY }}
                  port: 22
                  script: |
                      cd ${{ secrets.EC2_PATH }}

                      echo "Pulling latest code"
                      git pull origin main

                      echo "Installing dependencies"
                      npm install

                      echo "Generating Prisma Client"
                      npx prisma generate

                      echo "Running database migrations"
                      npx prisma migrate deploy

                      echo "Restarting PM2"
                      pm2 restart all || pm2 start src/app.js --name "elearning-backend"

                      echo "Deployment completed!"
